* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
}

.employee h1 {
    display: inline;
    font-size: 50px;
}

.header {
    color: blue;
    background-color: grey;
    background-size: 200%;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

h2 {
    font-size: 60px;
    border-right: 5px solid blue;
}

.cool {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    background-image: url(./images/SanFrancisco_Header_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cool-subtitle {
    font-size: 35px;
    margin-right: 5px;
    margin-bottom: 20px;
    color: black;
}
  
.header h1{
    margin-right: 700px ;
}

.oliver-navs {
    text-align: right;
    display: inline;
    font-size: 24px;
    padding: 20px;
}

.about {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

#about-me {
    position: relative;
    left: 100px;
}

p {
    width: 100%;
    width: 1000px;
    height: 200px;
}

.work {
    display: flex;
    left: 400px;
    margin-left: 172px;
    border-radius: 10px solid darkgrey;    
}

.images {
    flex: 2 1 900px;
    padding: 10px;
    width: 50vw;
    align-items: center;
    border-style: solid;
    border-width: 10px;
}   

.projects-container {
    display: flex;
    /* width: 50vw; */
}

.images-sm {
    width: 25vw;
}

/* .projects { 
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 100px;
} */

.work-projects {
    position: relative;
    left: 171.5px;
}

.project-pics {
    border-left: 2px solid black;
    padding-left: 20%;
    width: 150%;
}

.contact-me {
    display: flex;
    margin-left: -20px;
    margin-right: 50px;
    padding: 100px;
}

footer {
    display: flex;

}
/* Tablets - header changes color */
@media screen and (min-width: 992px) {
    .work-pics {
        width: 50%;
    }
    .header {
        background: gray;
    }
}

@media screen and (max-width: 768px) {
    main, .oliver-navs {
        flex-direction: column;
    }
    .header {
        background: red;
    }
    footer {
        background-color: darkcyan;
    }
}

@media screen and (max-width: 576px) {
    
}
    
